.l-heading {
  font-size: 2.5rem;
  line-height: 3rem;
}

#what .items {
  display: block;
  padding: 1rem;
}

#what .items .item {
  display: flex;
  text-align: left;
}

#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

#contact .items {
  display: block;
}
#appointment .contact-form form,
#appointment .contact-form form .upper-form,
#appointment .contact-form form .middle-form,
#appointment .contact-form form .last-form {
  display: block;
}

#aboutme .aboutmecontent {
  display: block;
}

/* Smart phone */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.75rem;
  }

  #showcase .showcase-content {
    top: 100px;
  }

  #whatsapp i {
    border-radius: 50%;
    padding: 0.5rem;
    background: #93cb52;
  }

  #who {
    display: block;
  }
  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 80%;
  }
  #clients .items div:last-child {
    display: none;
  }

  #contact .contact-img {
    display: none;
  }
  /* contact details section */
  #showcase-2 .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: #fff;

    /* overlay */
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #aboutme .aboutmecontent img {
    height: 300px;
    width: 100%;
    text-align: center;
  }
}
